{{!-- template-lint-disable no-invalid-interactive --}}
<div>
  <button
    type="button"
    class="context-menu-trigger"
    title={{t "global.openMenu"}}
  >
    <span hidden>{{t "global.openMenu"}}</span>
    <UkIcon @icon="more-vertical" />
  </button>
  <div uk-dropdown pos="bottom-right" class="uk-padding-small">
    <ul class="uk-list uk-text-left uk-margin-remove">
      {{#each @actions as |action|}}
        <li>
          <UkButton
            @type="button"
            @color="text"
            @onClick={{action.action}}
            @label={{action.title}}
          />
        </li>
      {{/each}}
    </ul>
  </div>
</div>
