.radio-buttons {
  display: flex;

  &__button {
    display: inline-flex;
    margin-right: -1px;
    border: 1px solid #666;
    border-radius: 3px;
    color: #666;

    > label {
      display: flex;
      @extend .uk-button;
    }

    > input[type="radio"] {
      display: none;
    }

    > input:checked + label {
      background-color: #dddddd;
    }
  }
}
