repos:
  - repo: local
    hooks:
      - id: api-ruff-format
        stages: [commit]
        name: api-ruff-format
        language: system
        entry: /bin/sh -c 'cd ./api/ && ruff format .'
        types: [python]
      - id: api-ruff
        stages: [commit]
        name: api-ruff
        language: system
        entry: /bin/sh -c 'cd ./api/ && ruff check . --output-format=full --fix'
        types: [python]
      - id: caluma-ruff-format
        stages: [ commit ]
        name: caluma-ruff-format
        language: system
        entry: /bin/sh -c 'cd ./caluma/ && ruff format .'
        types: [ python ]
      - id: caluma-ruff
        stages: [ commit ]
        name: caluma-ruff
        language: system
        entry: /bin/sh -c 'cd ./caluma/ && ruff check . --config ../api/pyproject.toml --output-format=full --fix'
        types: [ python ]
      - id: gitlint
        stages: [commit-msg]
        name: gitlint
        description: Validate commit lint
        entry: gitlint --msg-filename
        language: system
