version: "3"

services:

  db:
    image: postgres:alpine
    volumes:
      - dbdata:/var/lib/postgresql/data
      - ./postgres/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh:ro
    ports:
      - "5432:5432"

  api:
    image: adfinis-sygroup/mysagw
    depends_on:
      - db

  caluma:
    image: ghcr.io/projectcaluma/caluma:dev
    build:
      context: caluma
    environment:
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - OIDC_BEARER_TOKEN_REVALIDATION_TIME=300
      - OIDC_GROUPS_CLAIM=mysagw_groups
      - EVENT_RECEIVER_MODULES=caluma.extensions.events
      - VISIBILITY_CLASSES=caluma.caluma_user.visibilities.Authenticated,caluma.extensions.visibilities.MySAGWVisibility
      - PERMISSION_CLASSES=caluma.caluma_user.permissions.IsAuthenticated,caluma.extensions.permissions.MySAGWPermission
      - DYNAMIC_TASKS_CLASSES=caluma.extensions.dynamic_tasks.CustomDynamicTasks

    depends_on:
      - db
      - keycloak

  caddy:
    image: caddy:latest
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    ports:
      - "0.0.0.0:80:80"
      - "0.0.0.0:443:443"

  keycloak:
    depends_on:
      - db
    image: jboss/keycloak:16.1.0
    volumes:
      - ./keycloak/config.json:/etc/keycloak/config.json
    environment:
      - DB_VENDOR=postgres
      - DB_ADDR=db
      - DB_USER=keycloak
      - DB_DATABASE=keycloak
      - KEYCLOAK_USER=admin
      - PROXY_ADDRESS_FORWARDING=true
    # export is a bit tricky: We need to _start_ keycloak with specific arguments to perform an export
    # command: ["-Dkeycloak.migration.action=export", "-Dkeycloak.migration.provider=singleFile", "-Dkeycloak.migration.file=/etc/keycloak/config.json", "-b", "0.0.0.0"]
    #
    # http://www.keycloak.org/docs/3.3/server_admin/topics/export-import.html
    command:
      [
      "-Dkeycloak.migration.action=import",
      "-Dkeycloak.migration.strategy=IGNORE_EXISTING",
      "-Dkeycloak.migration.provider=singleFile",
      "-Dkeycloak.migration.file=/etc/keycloak/config.json",
      "-b",
      "0.0.0.0",
      ]

  ember:
    build:
      context: ./ember/

  minio:
    image: minio/minio:RELEASE.2021-03-04T00-53-13Z
    volumes:
      - minio_data:/data
    command: server data

  mc:
    image: minio/mc:RELEASE.2021-02-19T05-34-40Z
    restart: on-failure
    entrypoint: >
      /bin/sh -c "
      mc config host add dc-minio http://minio:9000 $${MINIO_ROOT_USER} $${MINIO_ROOT_PASSWORD} --api S3v4;
      mc mb dc-minio/caluma-media;
      true"
    depends_on:
      - minio

  dms:
    image: adfinissygroup/document-merge-service:v4.4.1
    depends_on:
      - db
    volumes:
      - templatefiles:/var/lib/document-merge-service/media
    environment:
      - DATABASE_ENGINE=django.db.backends.postgresql
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_NAME=dms
      - DATABASE_USER=dms
      - ALLOWED_HOSTS=dms
      # needed until https://github.com/adfinis-sygroup/document-merge-service/issues/407 is closed
      - DOCXTEMPLATE_JINJA_EXTENSIONS=

volumes:
  dbdata:
  caddy_data:
  caddy_config:
  minio_data:
  templatefiles:
