<div class="uk-text-right">
  {{#if
    (and
      (gt @tdDefinition.additionalInfo.accesses.length 1)
      (can "delete access case" @tdDefinition.additionalInfo access=@value)
    )
  }}
    <button
      class="uk-icon-button"
      uk-icon="trash"
      type="button"
      title={{t "documents.delete"}}
      {{on "click" (perform this.deleteRow @value)}}
    ></button>
  {{/if}}
</div>