<div class="uk-flex uk-flex-center uk-flex-column">
  {{#each this.activeDownloads as |downloadType|}}
    <UkButton
      @disabled={{downloadType.isRunning}}
      @loading={{downloadType.isRunning}}
      @onClick={{perform downloadType}}
      class="uk-width-1-3"
    >
      {{t (concat "documents.download." downloadType.name)}}
    </UkButton>
  {{/each}}
</div>
