<div class="uk-text-center">
  <h1>{{t "support.title"}}</h1>
  <h3>
    {{t "support.subtitle"}}
    <a href="mailto:sagw@sagw.ch" target="_blank" rel="noopener noreferrer">
      {{! template-lint-disable no-bare-strings }}
      sagw@sagw.ch
    </a>
  </h3>
</div>