.nav-bar {
  border-bottom: solid 1px $global-border;

  // prevent logo from shrinking when menu column width is smaller
  // than logo width.
  a.uk-logo {
    flex: 0 0 auto;
  }

  & img.nav-bar-logo {
    height: 50px;
  }

  a.uk-active {
    border-bottom: solid 2px $app-accent-color;
  }
}

.language-select {
  .uk-dropdown {
    min-width: 50px;
  }
}

.language-select-offcanvas {
  .uk-dropdown {
    min-width: 50px;
    max-width: 50px;
  }

  ul {
    background: #222;

    li a {
      color: $lightbox-item-color;
    }
  }
}
