<div class="uk-text-center">
  <h1 class="uk-heading-2xlarge">{{t "page.notfound.title"}}</h1>
  <h3>{{t "page.notfound.subtitle"}}</h3>
  <p class="uk-text-muted">{{t "page.notfound.link"}} <LinkTo @route="index">{{t "page.notfound.home"}}</LinkTo></p>
</div>