$app-accent-color: #1e3241;

$global-primary-background: $app-accent-color;

@import "ember-uikit";
@import "flatpickr/dist/flatpickr";
@import "flatpickr/dist/themes/airbnb";
@import "@projectcaluma/ember-form";
@import "@projectcaluma/ember-form-builder";
@import "@projectcaluma/ember-analytics";
@import "ember-power-select";

@import "components/nav-bar";
@import "components/dynamic-table";
@import "components/context-menu";

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
  font-family: Helvetica, Arial, "Open Sans", sans-serif;
}

.accent-border-left {
  border-left: 3px solid $app-accent-color;
}

.text-strike-through {
  text-decoration: line-through;
}

.ember-power-select-trigger[aria-disabled="true"]
  .ember-power-select-multiple-option {
  background-color: rgb(100, 100, 100);
}

.ember-power-select-trigger-multiple-input {
  padding: 0 10px;
}

.work-item-attribute {
  flex: 0 0 25%;
  margin: 1em 0;
}

.filters-gap {
  row-gap: 1em;
  column-gap: 0.5em;
}

.case-state-label__icon {
  min-width: 20px;
}

.white-space-pre-line {
  white-space: pre-line;
}

.modal-filters > div {
  align-content: start;
}

.case-list-action-divider {
  height: 50px !important;
}

.text-divider {
  display: flex;
  align-items: center;
}

.text-divider::after {
  content: "";
  height: 1px;
  background-color: $global-primary-background;
  flex-grow: 1;
  margin-left: 1rem;
}

.hyphenate {
  hyphens: auto;
}
