$app-accent-color: #002596;

$global-primary-background: $app-accent-color;

@import "ember-power-select";
@import "ember-uikit";
@import "@projectcaluma/ember-form";
@import "@projectcaluma/ember-form-builder";

@import "components/nav-bar";
@import "components/dynamic-table";
@import "components/context-menu";

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
  max-height: 100vh;
}

.accent-border-left {
  border-left: 3px solid $app-accent-color;
}

.text-strike-through {
  text-decoration: line-through;
}

.ember-power-select-multiple-option {
  margin: 5px 0 0 5px;
}

.ember-power-select-trigger[aria-disabled="true"]
  .ember-power-select-multiple-option {
  background-color: rgb(100, 100, 100);
}

.ember-power-select-trigger-multiple-input {
  height: 40px;
}

.work-item-attribute {
  flex: 0 0 25%;
  margin: 1em 0;
}

.filters-gap {
  row-gap: 5px;
}

@import 'ember-uikit';
