<div class="uk-flex uk-flex-middle">
  <span>
    {{t (concat "documents.states." @state)}}
  </span>
  <span
    uk-icon={{get this.icons @state}}
    class={{if this.iconLeft "uk-flex-first uk-margin-small-right" "uk-margin-small-left"}}
  ></span>
</div>
