<div class="uk-flex uk-flex-middle">
  {{t (concat "documents.states." @state)}}
  {{#let (get this.icons @state) as |icon|}}
    {{#if icon}}
      <UkIcon
        @icon={{icon}}
        class="case-state-label__icon {{if this.iconLeft "uk-flex-first uk-margin-small-right" "uk-margin-small-left"}}"
      />
    {{/if}}
  {{/let}}
</div>
