django==2.2.20
django-countries==7.1
django-environ==0.4.5
django-excel==0.0.10
django-filter==2.4.0
django-localized-fields==6.2
django-phonenumber-field[phonenumberslite]==5.0.0
django-postgres-extra==2.0.2
django_simple_history==2.12.0
djangorestframework==3.12.2
djangorestframework-jsonapi==4.1.0
drf-extra-fields==3.1.1
mozilla-django-oidc==1.2.4
pyexcel==0.6.6
pyexcel-xlsx==0.6.0
requests==2.25.1
uwsgi==2.0.19.1
